.morePopup {
    width: 200px;
    min-height: 200px;
    background-color: rgb(27, 24, 24);
    position: absolute;
    right: 25px;
    top: 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    z-index: 1;
}

.morePopup h5{
    width:fit-content;
    color: white;
    cursor: pointer;
    margin: 10px 0px;
}

@media only screen and (max-width: 800px) {
    .morePopup{
        width: 150px;
        min-height: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .morePopup{
        right: 10px;
        top: 40px;
    }
}